/ Navigation
%nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
  .container
    %a.navbar-brand{:href => "#"} Salon Laurel
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "#menu"} Menu de la Semana
        %li.nav-item
          %a.nav-link{:href => "#reservas"} Reservas
        %li.nav-item
          - if user_signed_in?
            %a.nav-link.small
              %small{:href => "#"}=current_user.email
          - else
            =link_to "Log In", new_user_session_path, class: "nav-link"
%header.masthead.text-center.text-white
  .masthead-content
    .container
      %h1.masthead-heading.mb-0 Salon Laurel
      %h3.mb-0 Instituto Felo Monzon
      / %a.btn.btn-primary.btn-xl.rounded-pill.mt-5{:href => "#"} Learn More
%section#who-are-we
  .container
    .row.align-items-center
      .col-lg-12q
        .p-5
          %h4 Quienes somos?
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
      %hr.col-md-12/
%section#menu
  .container
    .row
      .col-lg-6.col-xs-12
        .p-3.daily-menu
          %h4.text-center Menu Miercoles
          %hr/
          .font-weight-bold.first.dish Primer plato
          %ul
            %li=phrase("Sopa (A 6)")
            %li=phrase("Crema (A 2)")
            %li=phrase("Ensalada (A 4)")
            %li=phrase("Gazpacho (A 2)")
          .font-weight-bold.second.dish Segundo plato
          %ul
            %li=phrase ("Pescado (A 3)")
            %li=phrase ("Carne (A 1)")
            %li=phrase ("Arroz (A 2)")
            %li=phrase ("Pasta (A 9)")
      .col-lg-6.col-xs-12
        .p-3.daily-menu
          %h4.text-center Menu Jueves
          %hr/
          .font-weight-bold.first.dish Primer plato
          %ul
            %li=phrase ("Sopa (A 6)")
            %li=phrase ("Crema (A 2)")
            %li=phrase ("Ensalada (A 4)")
            %li=phrase ("Gazpacho (A 2)")
          .font-weight-bold.second.dish Segundo plato
          %ul
            %li=phrase ("Pescado (A 3)")
            %li=phrase ("Carne (A 1)")
            %li=phrase ("Arroz (A 2)")
            %li=phrase ("Pasta (A 9)")
%section#reservas
  .container
    .row.align-items-center
      .col-lg-12.order-lg-1
        .p-5
          %h4 Reservas
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
/ Footer
%footer.py-5.bg-black
  .container
    %p.m-0.text-center.text-white.small Copyright &#169; Felo 2019
  / /.container
